body {
    margin: 0;
    display:flex;
    justify-content: center;
}

.testimonial-container {
    width: 500px;
    height: 300px;
    background: lightcyan
}

img {
    width: 100px;
    height: 100px;
}

